body {
  margin: 0 auto;
  color: #7A6958;
}
a, a:hover {
  color: #7A6958;
  /*text-decoration: none;*/
}
.color-blue {
  color: #1D70b7
}
/*
pozadi #CABB9F
světlé tlačítko #A48974
tmave tlačítko #7A6958
modrá #1D70b7*/
.helptext{
  font-size: 0.8em;
}
#menu {
  text-transform: uppercase;
  display: inline-block;
}
#log {
  display: inline-block;
  float: right;
}
#menu, #log {
  margin: 20px;
}
#header {
  border-bottom: solid 5px #CABB9F;
  /* padding: 20px; */
  vertical-align: top;
  width: 100%;
}
#content {
  width: 70%;
  margin: 50px auto;
  padding-bottom: 100px;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #CABB9F;
  text-align: center;
}
input:required {
  border: solid 2px #7A6958;
}
.profilePhoto {
  height: 200px;
}
.profile {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: #CABB9F;
}
#logo_div {
  float: left;
  width: 200px;
  background-color: white;
}

#logo {
  display: block;
  margin: 20px auto;
  width: 80%
}
