{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}{% endblock %}
  {% block css %}{% endblock %}
</head>
<body>
  <div>
    <div id="logo_div">
      <a href="/"><img id="logo" src="{% static 'img/logo.png' %}"></a>
    </div>
    <div id="header">
      <div id="menu">
      {% if request.user.is_authenticated %}<a href="/poptavky/">poptávky</a> |{% endif %}
      <a href="/lektori/">lektoři</a> | <a href="/predmety/">předměty</a>
      </div>
      <div id="log">
        {% if request.user.is_authenticated %}
        <a href="/{% if request.user.lector.has_complete_profile %}moje-doucovani{% else %}muj-profil{% endif %}/" class="color-blue">{{request.user.lector}}</a> | <a href="/odhlaseni/">odhlásit se</a>
        {% else %}
        <a href="/prihlaseni/" class="color-blue">přihlášní</a> | <a href="/registrace/">registrace</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    <div id="footer_menu">
      <a href="/o-nas/">o nás</a> | <a href="/kontakt/">kontakt</a>
    </div>
  </div>
  {% block js %}{% endblock %}
</body>
</html>
