{% extends "iq/base.html" %}

{% block content %}
{% if active %}
    <h3>Předmět: {{ demand }}</h3>
    <h3>{% if demand.towns.all|length == 1 %}Město: {% else %}Města: {% endif %}{{ demand.towns_as_str }}</h3>
    <p>Popis učiva: {{ demand.subject_desript }}</p>
    <p>Kdy se můžeme sejít: {{ demand.time_desript }}</p>
    <p>Vloženo: {{ demand.date_posted|date }}</p>
    <p>Aktualizováno: {{ demand.date_updated|date }}</p>
    <p>Poplatek: {{ demand.get_charge }} Kč</p>
    <p>Váš kredit: {{ lector.credit }} Kč</p>
    {% if not_able %}
    <button type="button" disabled="true">{{ not_able }}</button>
    {% elif can_affort %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="To beru !" />
    </form>
    {% elif can_do_fairtrade %}
    <button type="button" disabled="true">nemáš dostatečný kredit</button>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Na férovku" />
    </form>
    {% else %}
    <button type="button" disabled="true">nemáš dostatečný kredit</button>
    {% endif %}
{% else %}
    {% if demand.status == 1 %}
        <h3>Tato poptávka je neaktivní</h3>
    {% else %}
        <h3>Tuto poptávku již převzal jiný lektor</h3>
    {% endif %}
{% endif %}
{% endblock %}
