{% extends 'iq/base.html' %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
{% for i in 'xxxx' %}
  {% if wizard.steps.step0 == forloop.counter0 %}
    <button name="wizard_goto_step" type="button" value="{{ forloop.counter0 }}">krok {{ forloop.counter }}</button>
  {% elif wizard.steps.step1 == forloop.counter0 %}
  <input type="submit" value="Krok {{ forloop.counter }}"/>
  {% else %}
  <button name="wizard_goto_step" type="submit" value="{{ forloop.counter0 }}" {% if wizard.steps.step0 < forloop.counter0 %}disabled{% endif %}>krok {{ forloop.counter }}</button>
  {% endif %}
{% endfor %}
  <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form }}
      {% endfor %}
    {% else %}
      {{ wizard.form }}
    {% endif %}
  </table>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">zpět</button>
  {% endif %}
<input type="submit" value="{% if wizard.steps.step0|slugify == wizard.steps.last %}dokončit{% else %}další{% endif %}"/>
</form>
{% endblock %}
