{% extends 'iq/base.html' %}

{% block content %}

{% if lector.id == request.user.id %}
  {% if not lector.has_complete_profile %}
    <p>Váš lektorský profil je velmi smutný. Vyplňte jej, prosím</p>
  {% endif %}
    <a href="/muj-profil/">upravit</a>
{% endif %}
  {% if lector.has_complete_profile %}
    {% if lector.photo %}
    <img src="{{ lector.photo.url }}" class="profilePhoto">
    {% endif %}
    <h2>{{ lector }}</h2>
    <p>{{ lector.intro }}
    <h4>předměty, které doučuje</h4>
    <ul>
      {% for t in teach_list %}
      <li>{{ t }}</li>
      {% endfor %}
    </ul>
    <h4>Města, v nichž doučuje</h4>
    <ul>
      {% for t in lector.towns.all %}
      <li>{{ t }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
