{% extends 'iq/base.html' %}
{% load staticfiles %}

{% block head %}
  {{ form.media }}
  <script src="{% static 'js/croppie.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/croppie.css' %}">

  <style>
#profilePhoto {
  margin: 35px 30px;
}

.cr-boundary {
  background-image: url({% static 'img/nophoto-man_1.png' %});
  background-position: center;
  background-repeat: no-repeat;
}

#main-cropper-wrapper {
  display: inline-block;
}
  </style>
{% endblock %}

{% block content %}
    <b>můj profil | </b><a href="/moje-doucovani/"><b>moje doučování</b></a> | <a href="/moje-nastaveni/"><b>moje nastavení</b></a></br>
    <a href="/lektor/{{ user.lector.id }}/">jak mě vidí ostatní</a>
    <div id="main-cropper-wrapper">
      {% if user.lector.photo %}
      <img id="profilePhoto" src="{{ user.lector.photo.url }}">
      <div id="main-cropper" style="display:none"></div>
      <button id="cropper-done" style="display:none" type=button>hotovo</button>
      {% else %}
      <div id="main-cropper"></div>
      <button id="cropper-done" type=button value="hotovo"></button>
      {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}" {% if field.is_required %}style="font-weight:bold;"{% endif %}>{{ field.label }} :</label>
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <table>
        {{ view.teach_formset.management_form }}
        {% for form in view.teach_formset.forms %}
          {{ form }}
        {% endfor %}
        </table>
        <input id="submit" type="submit" value="Uložit změny" />
    </form>
    <script>
var basic = $('#main-cropper').croppie({
    viewport: { width: 150, height: 200 },
    boundary: { width: 210, height: 270 },
    showZoomer: false,
    {% if lector.photo %}url: '{{ lector.photo.url }}'{% endif %}
});

function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#main-cropper').croppie('bind', {
        url: e.target.result
      });
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$('#id_photo').on('change', function () {
  $('#profilePhoto').css('display','none');
  $('#main-cropper').css('display','inline-block');
  $('#cropper-done').css('display','inline-block');
  readFile(this);
});

$('#cropper-done').click(function(){
  $('#main-cropper').croppie('result',{}).then(function(croppedData){
    $('#id_cropped').val( croppedData );
  });
});
    </script>

{% endblock %}
